<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hasibfn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c0c20be3-5701-4c71-80e7-d8229b5ce243/resourceGroups/funTst/providers/Microsoft.Web/sites/hasibFn</ResourceId>
    <UserName>$hasibFn</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://hasibfn.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>